# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# Better Auth
BETTER_AUTH_SECRET="secret_key"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

RESEND_API_KEY=
SENDER_EMAIL=